*{
    margin: 0;
    padding: 0;
}
body{
    background:rgba(0,0,0,0.7)url("https://github.githubassets.com/images/modules/explore/social.jpg");
    background-blend-mode:darken;
}
navBAr{
    font-size:25px;
}
navBAr i{
    padding-right: 25px;;
}
.formGRP{
  display: flex;
  justify-content: center;
  padding-top:20px;
  padding-bottom:20px;
}
.form-group{
    padding-left:20px;
}

.card{
    justify-content: center;
    text-align: left;
    width:25%;
    background-color:rgb(198, 228, 218);
}